<header>
    <div class="logo">
        <div class="bars">

        </div>
    </div>
    <nav>
        <div class="all">
            <div class="lefter">
                <div class="text">Trailers</div>
            </div>
            <div class="left">
                <div class="text">Images</div>
            </div>
            <div class="center">
                <div class="ecplainer"><span>We Provide</span></div>
                <div class="text">Information</div>
            </div>
            <div class="right">
                <div class="text">Name oF Heros</div>
            </div>
            <div class="righter">
                <div class="text">Movies</div>
            </div>
        </div>
    </nav>
    <section>

    </section>
</header>