<div class="section full-height over-hide px-4 px-sm-0">
  <div class="container">
    <div class="row full-height justify-content-center">
      <div class="col-lg-10 col-xl-8 alighn-self-center padding-tb">
        <div class="section mx-auto text-center slider-height-padding">
          <input type="radio"  class="checkbox-frst" id="slide-1" name="slider"  checked/>
          <label ngfor="slide-1"></label>
          <input type="radio"  class="checkbox-scnd" id="slider-2" name="slider" />
          <label ngfor="slider-2"></label>
          <input type="radio"  class="checkbox-thrd" id="slider-3" name="slider" />
          <label ngfor="slider-3"></label>
          <input type="radio"  class="checkbox-frth" id="slider-4" name="slider" />
          <label ngfor="slider-4"></label>
          <ul>
            <li>
              <span>Avengers</span>
            </li>
            <li>
              <span>Spider Man</span>
            </li>
            <li>
              <span>Doctor Strange</span>
            </li>
            <li>
              <span>Captain America</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>