/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Poppins: 400, 500, 600, 700, 800, 900");
body{
    font-family:"Poppins", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height:1.7;
    color: #343434;
    background-color: #000;
    overflow-y: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
